In [182]:
import pandas as pd
from openpyxl import Workbook
import warnings
import datetime

In [183]:
movies_df = pd.read_csv("archive (4)/movies.csv")
ratings_df = pd.read_csv("archive (4)/ratings.csv")

In [184]:
# movies_df

In [185]:
# new_df = pd.merge(movies_df, ratings_df)
workbook = Workbook()

In [186]:
writer = pd.ExcelWriter('archive (4)/New_sheet_for_Movies.xlsx', engine='openpyxl')

In [187]:
with warnings.catch_warnings():
    warnings.simplefilter(action='ignore', category=FutureWarning)
    writer.book = workbook
    default_sheet = workbook.active
    workbook.remove(default_sheet)
    sheet_1 = movies_df
    sheet_2 = ratings_df
    year_pattern = r'\((\d{4})\)'
    movies_df["year"] = movies_df['title'].str.extract(year_pattern)[0]
    merged_df = movies_df.merge(ratings_df, on='movieId')
    #avg rating by year
    year_data_df = merged_df.groupby('year').agg({'movieId': 'count', 'rating': 'mean'}).reset_index().round(2)
    year_data_df.rename(columns={'movieId': 'Number of Movies', 'rating': 'Average Rating'}, inplace=True)
    year_data_df.to_excel(writer, sheet_name='Movies by Year', index=False)
    
    #max rating by year
    max_rating = merged_df.groupby('year')['rating'].max().reset_index().round(2)
    year_data_df['Max_rating'] = max_rating['rating']
    year_data_df.to_excel(writer, sheet_name='Movies by Year', index=False)
    #Min rating by year
    min_rating = merged_df.groupby('year')['rating'].min().reset_index().round(2)
    year_data_df['Min_rating'] = min_rating['rating']
    year_data_df.to_excel(writer, sheet_name='Movies by Year', index=False)

    
    genres_split = movies_df['genres'].str.get_dummies('|')

    movies_split = pd.concat([movies_df[['movieId', 'title']], genres_split], axis=1)
    movies_melted = pd.melt(movies_split, id_vars=['movieId', 'title'], value_vars=list(genres_split.columns)[2:], var_name='genre')
    merged_df = movies_melted.merge(ratings_df, on='movieId')
    genre_avg_ratings = merged_df.groupby('genre')['rating'].mean().reset_index().round(2)
    min_ratting = merged_df.groupby('genre')['rating'].min().reset_index().round(2)
    max_ratting = merged_df.groupby('genre')['rating'].max().reset_index().round(2)
    genre_avg_ratings["Min_Ratings"] = min_ratting['rating']
    genre_avg_ratings["Max_Ratings"] = max_ratting['rating']
    genre_avg_ratings.to_excel(writer, sheet_name='Movies by Genres', index=False)

    def convert_timstamp(timestamp):
        return  datetime.datetime.fromtimestamp(timestamp)
    sheet_2['formatted_date'] = sheet_2["timestamp"].apply(lambda x: convert_timstamp(x))

    sheet_1.to_excel(writer, sheet_name="Movies_Sheet", index = False)
    sheet_2.to_excel(writer, sheet_name="Ratings_Sheet", index = False)
    year_data_df
    writer.save()

In [65]:
# min_rating = merged_df.groupby('year')['rating'].max().reset_index()
# # print(min_rating)
# min_rating.rename(columns={'rating':'Max_rating'}, inplace=True)
# merged_df = merged_df.merge(min_rating, on='year')

# merged_df['Min_rating'] = min_rating['rating']
# min_rating = merged_df.groupby('year')['rating'].max().reset_index()
# min_rating
# year_data_df['Max_rating'] = min_rating['rating']
# year_data_df

In [32]:
# merged_df

In [88]:
# movies_df = pd.read_csv("archive (4)/movies.csv")

In [87]:
#  merged_df = movies_df.merge(ratings_df, on='movieId')

In [86]:
# genres_split = movies_df['genres'].str.get_dummies('|')

# movies_split = pd.concat([movies_df[['movieId', 'title']], genres_split], axis=1)
# movies_melted = pd.melt(movies_split, id_vars=['movieId', 'title'], value_vars=list(genres_split.columns)[2:], var_name='genre')
# merged_df = movies_melted.merge(ratings_df, on='movieId')
# genre_avg_ratings = merged_df.groupby('genre')['rating'].mean().reset_index()
# genres_split
# movies_melted
# genre_avg_ratings

In [119]:
#  sheet_2 = ratings_df
# def convert_timestamp(timestamp):
#     dt_object = datetime.datetime.fromtimestamp(timestamp)
#     formatted_date = dt_object.strftime('%Y-%m-%d %H:%M:%S')
#     return formatted_date
# sheet_2['formatted_date'] = sheet_2["timestamp"].apply(convert_timestamp)
# sheet_2

In [ ]:
genres_split = movies_df['genres'].str.get_dummies('|')

movies_split = pd.concat([movies_df[['movieId', 'title']], genres_split], axis=1)
movies_melted = pd.melt(movies_split, id_vars=['movieId', 'title'], value_vars=list(genres_split.columns)[2:], var_name='genre')
merged_df = movies_melted.merge(ratings_df, on='movieId')
genre_avg_ratings = merged_df.groupby('genre')['rating'].mean().reset_index().round(2)
# min_ratting = merged_df.groupby('genre')['rating'].min().reset_index()
# max_ratting = merged_df.groupby('genre')['rating'].max().reset_index()
# genre_avg_ratings["Min_Ratings"] = min_ratting['rating']
# genre_avg_ratings["Max_Ratings"] = max_ratting['rating']
# genre_avg_ratings.to_excel(writer, sheet_name='Movies by Genres', index=False)
genre_avg_ratings

          genre    rating
0     Adventure  3.501557
1     Animation  3.501557
2      Children  3.501557
3        Comedy  3.501557
4         Crime  3.501557
5   Documentary  3.501557
6         Drama  3.501557
7       Fantasy  3.501557
8     Film-Noir  3.501557
9        Horror  3.501557
10         IMAX  3.501557
11      Musical  3.501557
12      Mystery  3.501557
13      Romance  3.501557
14       Sci-Fi  3.501557
15     Thriller  3.501557
16          War  3.501557
17      Western  3.501557

In [127]:
# min_ratting = merged_df.groupby('genre')['rating'].min().reset_index()

In [130]:
genre_avg_ratings["Min_Ratings"] = min_ratting['rating']
#

In [ ]:
# genre_avg_ratings